html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

a {
  font-size: 15px;
}

h4 {
  color: white;
}

h1 {
color: black;
}


.close {
  color: white;
  padding-top: 20px;
}

.notes {
  font-size: 15px;
}



.btn-danger {
  font-size: 15px;
}

.container-fluid {
  background-color: rgb(6, 35, 58);
}

.article-container {
  background-color: white
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f5f5f5;
}

.footer p {
  font-size: 20px;
  padding-top: 20px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 30px;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  font-family: "Cormorant SC";
  padding: 0;
  box-shadow: 10px 5px 20px 2px lightslategrey;
  background-image: url(https://amp.businessinsider.com/images/5ba3b322e361c0243a8b5424-1136-568.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.jumbotron .overlay {
  background: linear-gradient(#333, black);
  position: absolute;
  opacity: 0.7;
  z-index: auto;
  top: 0;
  left: 0;
  bottom: 0;
}


.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-weight: 800;
  font-size: 80px;
}

.jumbotron p {
  font-size: 30px;
}

.panel {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
}

.panel.panel-default .panel-heading {
  background-color: rgb(6, 35, 58);
}

.panel.panel-default .panel-heading h3 {
  color: white;
}

.panel.panel-default .panel-heading .btn {
  float: right;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.panel.panel-default .panel-body {
  font-size: 16px;
}

.footer {
  background-color: rgb(6, 35, 58);
  color: white;
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a.scrape-new:hover {
  background: #4caf50;
}

.navbar-inverse .navbar-nav>li>a.scrape-new:active {
  background: #e51c23;
}

.scrape-new {
  cursor: pointer;
}

.m-top-80 {
  margin-top: 80px;
}

textarea {
  resize: none;
  padding: 10px;
}

.bootbox-body .btn {
  float: right;
  margin: 5px;
}

.note.list-group-item {
  padding: 30px;
}

.note.list-group-item .btn {
  position: relative;
  bottom: 10px;
}